
*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    font-family: 'Nunito', sans-serif;
    color: #333;
    font-weight: 300;
    line-height: 1.6;
    background-image: url(static/images/background-image.jpg);
}

.container{
    width: auto;
    height: auto;
    margin: 4rem auto;
}



.card-gallery{
    display: grid;
    width: auto;
    height: 800px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 5vw);
    grid-gap: 30.5rem;
}

.card-title{
    text-shadow: 2px 2px black;
}

.card-holder{
    margin: 10px;
    width: 300px;
    height: 300px;
    border-style: solid;
    border-width: 20%;
    border-color: skyblue;
    border-radius: 2%;
}

.card-body{
    height: auto;
    border-top: solid;
    border-width: 20%;
    border-color: skyblue;
    background: linear-gradient(to right, skyblue, black) ;
    color: gold;

}

.card-img-top{

    height: 220px;
}

.btn {

    font-weight: 600;
    font-size: 11px;
    width: 100px;
    border-style: solid;
    border-color: gold;
}

.popup{

    width: 400px;
    background: linear-gradient(to right, skyblue, black) ;
    border-radius: 6px;
    border-color: skyblue;
    border-style: solid;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 30px 10px;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup{
    visibility: visible;
    top: 50%;
}

.popup-text{

    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
    color: gold;
    text-shadow: 2px 2px black;

}

.close-btn{

    width: 100%;
    font-size: 15px;
    font-weight: 600;
    background-color: skyblue;
    cursor: pointer;

}

p{
    font-size: medium;
    color: black;
}

.nav-container {

    display: flex;
    flex-direction: row;
    background-color: skyblue;
    background: linear-gradient(to right, black, skyblue);
}

a{
    color: white;
    text-shadow: 1px 2px black;
    font-size: 20px;
    text-decoration: none;
    
    
}

.nav-header {
    width: 35%;
    margin-right: 20%;
}

.item-container {

    display: flex;
    flex-direction: row;
    width: 50%;
    
}
.nav-items {
    

    flex-grow: 1;
    margin-top: 30px;
    font-size: 10px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-p {
    text-shadow: 2px 2px black;
    margin-top: 3%;
    color: white;
    text-align: center;
    font-size: 35px;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.coin-container{
    color: gold;
    font-size: 30px;
    font-weight: 600;
    text-shadow: 1px 2px black;

}